//- output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body(ng-app="IconosApp")
    +sidebar
    
    hr
    header(style="background-image: url(http://lorempixel.com/1200/400)", data-sr="enter top").bg
      .container.mainTitle
        .col8: h1(data-sr="enter bottom wait 300ms") Contacto
    hr
      
    .container(data-sr="enter bottom")
      .col5.push1.about
        .svg(data="site/img/iconos.svg")
        p Espacio académico dedicado a la inverstigación y la formación en el campo de la cultura y la comunicación.
        +socials
      .col4.push1.col-t10.push-t1.col-m10.push-m1.info
        p.big Llámanos
        p.small 
          span.light 01 55 
          |  | 5709 4370 | 57096593 | 57094396
        p.big Ubícanos
        p.small
          | Av. 
          span.light Chapultepec 57
          | , 1er y 2do piso, Col. Centro C.P. 06040. 
          span.light México, D.F.
        p.big Nosotros te contactamos
        form(action="http://dragonbarbudo.com/api/email.php")
          input(type="hidden", name="_to", value="info@iconos.edu.mx")
          input(type="hidden", name="_from", value="info@iconos.edu.mx")
          input(type="hidden", name="_subject", value="Contáctenme iconos / home")
          input(type="email", placeholder="Coloca tu email", name="email")
          button(type="submit")
            .svg(data="site/img/btn-send.svg")
    hr
    .map(data-sr)
      | <iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/dragonbarbudo.nip1iac9/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZHJhZ29uYmFyYnVkbyIsImEiOiJnZEpLMDFJIn0.zPjEPOKBX0kAQrLl63CW0g'></iframe>
    hr
    +footer
    hr

    +scripts
    
