//- output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body(ng-app="IconosApp")
    +sidebar
    
    hr
    header(style="background-image: url(http://lorempixel.com/1200/400)", data-sr="enter top").bg
      .container.mainTitle
        .col8: h1(data-sr="enter bottom wait 300ms") Galería digital
    hr
    
    .galleryslider
      .container
        .col8.push1.gala
          .slider.multiple
            - for(var i = 0; i<10; i++)
              a(href="http://lorempixel.com/800/600").box: .svg(data="site/img/mainPolygon.svg", data-mask="site/img/mainPolygonCenter.svg", data-img="http://lorempixel.com/200/200", data-w="200", data-h="200").btn
        .col1
          p.rotate Instalaciones
      .container
        .col8.push2.galb
          .slider.multiple
            - for(var i = 0; i<10; i++)
              a(href="http://lorempixel.com/800/600").box: .svg(data="site/img/mainPolygon.svg", data-mask="site/img/mainPolygonCenter.svg", data-img="http://lorempixel.com/200/200", data-w="200", data-h="200").btn
    .galleryslider
      .container
        .col8.push1.gala
          .slider.multiple
            - for(var i = 0; i<10; i++)
              a(href="http://lorempixel.com/800/600").box: .svg(data="site/img/mainPolygon.svg", data-mask="site/img/mainPolygonCenter.svg", data-img="http://lorempixel.com/200/200", data-w="200", data-h="200").btn
        .col1
          p.rotate Proyectos integradores
      .container
        .col8.push2.galb
          .slider.multiple
            - for(var i = 0; i<10; i++)
              a(href="http://lorempixel.com/800/600").box: .svg(data="site/img/mainPolygon.svg", data-mask="site/img/mainPolygonCenter.svg", data-img="http://lorempixel.com/200/200", data-w="200", data-h="200").btn
    
    .galleryslider
      .container
        .col8.push1.gala
          .slider.multiple
            - for(var i = 0; i<10; i++)
              a(href="http://lorempixel.com/800/600").box: .svg(data="site/img/mainPolygon.svg", data-mask="site/img/mainPolygonCenter.svg", data-img="http://lorempixel.com/200/200", data-w="200", data-h="200").btn
        .col1
          p.rotate Exposiciones
      .container
        .col8.push2.galb
          .slider.multiple
            - for(var i = 0; i<10; i++)
              a(href="http://lorempixel.com/800/600").box: .svg(data="site/img/mainPolygon.svg", data-mask="site/img/mainPolygonCenter.svg", data-img="http://lorempixel.com/200/200", data-w="200", data-h="200").btn
    
    .galleryslider
      .container
        .col8.push1.gala
          .slider.multiple
            - for(var i = 0; i<10; i++)
              a(href="http://lorempixel.com/800/600").box: .svg(data="site/img/mainPolygon.svg", data-mask="site/img/mainPolygonCenter.svg", data-img="http://lorempixel.com/200/200", data-w="200", data-h="200").btn
        .col1
          p.rotate Tabajos alumnos
      .container
        .col8.push2.galb
          .slider.multiple
            - for(var i = 0; i<10; i++)
              a(href="http://lorempixel.com/800/600").box: .svg(data="site/img/mainPolygon.svg", data-mask="site/img/mainPolygonCenter.svg", data-img="http://lorempixel.com/200/200", data-w="200", data-h="200").btn
    
    
    hr
    +footer
    hr

    +scripts
    
