//- output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  //base(href="/iconos_2015/")
  body
    +sidebar
    
    div(ui-view)  
    
    
    
      

  
    
  
    
    hr
    +footer
    hr
    +scripts
    
