//- output: index.html, pretty:false

include site/_config.jade

+html5
  +head(title, stylesheets, keywords, description)
  body(ng-app="IconosApp")
    +sidebar
    
    hr
    header(style="background-image: url(http://lorempixel.com/1200/400)", data-sr="enter top").bg
      .container.mainTitle
        .col8: h1(data-sr="enter bottom wait 300ms") Noticias
    hr
    
    .newslist
      .container
        - for(var i=0; i<20; i++)
          a(href="noticias.html", data-sr).item.col6.col-t10.push-t1.col-m10.push-m1
            .container
              .col4.col-m4.push-m4: .svg(data="site/img/mainPolygon.svg", data-mask="site/img/mainPolygonCenter.svg", data-img="http://lorempixel.com/200/200", data-w="200", data-h="200").btn
              .col8.col-m12
                p.title Desarrolla proyectos multisensoriales a partir de la imagen y el sonido.
                p.small Al finalizar el diplomado, el estudiante conocerá los principales paradigmas teóricos de la narrativa, para la creación de diferentes tipos de proyectos audiovisuales. 
            hr
    
    
    hr
    +footer
    hr

    +scripts
    
