include ../dw/dw.jade

- var domain = "index.html"

//- METAS
- var title = "ICONOS | Instituto de Investigación en Comunicación y Cultura"
- var keywords = ""
- var description = ""

//- STYLESHEETS
- var stylesheets = []
- stylesheets.push('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
- stylesheets.push('http://fonts.googleapis.com/css?family=Oxygen:400,700,300')
- stylesheets.push('http://fonts.googleapis.com/css?family=Merriweather:400,300')
- stylesheets.push('http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css')
- stylesheets.push('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.1/css/swipebox.min.css')
- stylesheets.push('site/css/style.css') //Main style

//- JAVASCRIPTS
- var javascripts = []
- javascripts.push('https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.1/js/jquery.swipebox.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
- javascripts.push('https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/scrollify/0.1.10/jquery.scrollify.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js')
- javascripts.push('https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js')

- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/locale/es.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/ng-fittext/4.1.0/ng-FitText.min.js')
- javascripts.push('site/js/angular-disqus.js')
- javascripts.push('site/js/angular-marked.js')
- javascripts.push('site/js/script.js') //Main Js
- javascripts.push('site/js/controllers.js')

//-  MENU
//- dp(menu, '')
- var menu = [] 
- dp(menu, 'Programas de estudio', 'programas-de-estudio', '#', ' ')
- dp(menu, 'Cursos y diplomados', 'cursos-y-diplomados', '#', ' ')
- dp(menu, 'Docentes y estudiantes', 'docentes-y-estudiantes', '#', ' ')
- dp(menu, 'Noticias', 0, 0, 0, 0, {'ui-sref':'noticias'})
- dp(menu, 'Investigación', 0, 0, 0, 0, {'ui-sref':'investigacion'})
- dp(menu, 'Galería digital', 0, 0, 0, 0, {'ui-sref':'galeria'})
- dp(menu, 'Contacto', 0, 0, 0, 0, {'ui-sref':'contacto'})

- var menuLic = []

- dp(menuLic, 'Diseño digital', 0, 0, 0, 0, {'ui-sref':"programas({prg:'dd'})"})
- dp(menuLic, 'Comunicación digital',  0, 0, 0, 0, {'ui-sref':"programas({prg:'cd'})"})

- var menuMae = []
- dp(menuMae, 'Comunicación con medios virtuales',  0, 0, 0, 0, {'ui-sref':"programas({prg:'cmv'})"})
- dp(menuMae, 'Comunicación y lenguajes visuales',  0, 0, 0, 0, {'ui-sref':"programas({prg:'clv'})"})
- dp(menuMae, 'Comunicación y estudios de la cultura',  0, 0, 0, 0, {'ui-sref':"programas({prg:'cec'})"})

- var menuEsp = []
- dp(menuEsp, 'Diseño y gestión de sitios web',  0, 0, 0, 0, {'ui-sref':"programas({prg:'dgsw'})"})
- dp(menuEsp, 'Producción y postproducción de animación 3D',  0, 0, 0, 0, {'ui-sref':"programas({prg:'cppa3d'})"})
- dp(menuEsp, 'Animación e interactividad enriquecida',  0, 0, 0, 0, {'ui-sref':"programas({prg:'aie'})"})
- dp(menuEsp, 'Emprendeduría y gestión de la cultura',  0, 0, 0, 0, {'ui-sref':"programas({prg:'egc'})"})

- var menuDoc = []
- dp(menuDoc, 'Estudios transdisciplinarios de la cultura y la comunicación',  0, 0, 0, 0, {'ui-sref':"programas({prg:'etcc'})"})

- var menuCursos = []
- dp(menuCursos, 'Educación continua',  0, 0, 0, 0, {'ui-sref':"educacion-continua"})
- dp(menuCursos, 'Cursos empresariales',  0, 0, 0, 0, {'ui-sref':"cursos-empresariales"})

- var menuDocentes = []
- dp(menuDocentes, 'Nuestros docentes',  0, 0, 0, 0, {'ui-sref':"nuestros-docentes"})
- dp(menuDocentes, 'Portafolio de estudiantes',  0, 0, 0, 0, {'ui-sref':"portafolio-de-estudiantes"})
- dp(menuDocentes, 'Biblioteca digital',  0, 0, 0, 0, {'ui-sref':"biblioteca-digital"})


mixin sidebar
  .btn-burger
    #openMenu
      .svg(data="site/img/iconos.svg").minilogo
      .svg(data="site/img/btn-burger.svg").burger
  .sidebar#menu
    .close: i.fa.fa-times
    a(ui-sref="home").logo: img(src="site/img/iconos.svg", alt="Iconos")
    .hr
    nav: +menu('', menu) 
    .hr
    .bottom
      .socials
        +socials
      .hr
      .privacy: a(ui-sref="aviso-de-privacidad") Aviso de privacidad
  .sidebar.submenu#submenu
    nav.sub(role="programas-de-estudio")
      +subItem('Licenciaturas', menuLic)
      +subItem('Maestrias', menuMae)
      +subItem('Especialidades', menuEsp)
      +subItem('Doctorado', menuDoc)
    nav.sub(role="cursos-y-diplomados")
      +subItem('Cursos y diplomados', menuCursos)
    nav.sub(role="docentes-y-estudiantes")
      +subItem('Docentes y estudiantes', menuDocentes)
    

mixin subItem(title, menuTo)
  .submenuTitle=title
  +menu('',menuTo)

mixin socials
  a(href="https://www.youtube.com/user/ICONOSINST?ob=0", target="_blank"): i.fa.fa-youtube
  a(href="https://plus.google.com/+IconosEduMx", target="_blank"): i.fa.fa-google-plus
  a(href="https://twitter.com/iconos_inst", target="_blank"): i.fa.fa-twitter
  a(href="https://www.facebook.com/iconosinstituto", target="_blank"): i.fa.fa-facebook



mixin footer
  footer
    .container
      .col6.col-m12
        span.light 01 55 
        |  | 5709 4370 | 57096593 | 57094396
      .col6.col-m12
        a(href="mailto:info@iconos.edu.mx")
          span.light info
          | @iconos.edu.mx
        a(href="http://entretejidos.iconos.edu.mx", target="_blank")
          span.light entretejidos
          | .iconos.edu.mx




- function dp(menu, name, slug, pre, suf, Lclass, Cattr){ menu.push(sc(name, slug, pre, suf, Lclass, Cattr)) }
- function sc(name, slug, pre, suf, Lclass, Cattr){ 
-  if(!slug){
-   slug = name.replace(/ |_/g, '-');
-   slug = slug.replace(/á|_/g, 'a');
-   slug = slug.replace(/é|_/g, 'e');
-   slug = slug.replace(/í|_/g, 'i');
-   slug = slug.replace(/ó|_/g, 'o');
-   slug = slug.replace(/ú|_/g, 'u');
-   slug = slug.replace(/ü|_/g, 'u');
-   slug = slug.replace(/ñ|_/g, 'n');
-   slug = slug.toLowerCase();
-  }
-  return [name, slug, pre, suf, Lclass, Cattr] 
- }
