

hr
header(style="background-image: url(http://lorempixel.com/400/400)", data-sr="enter top").bg
  .container.mainTitle
    .col8: h1(data-sr="enter bottom wait 300ms") Administrador
hr




.container
  .col2
    select(ng-model="selector", ng-change="update()")
      option(ng-repeat="dato in datos", value="{{dato}}") {{dato}}
  
  .col10.info(ng-hide="bean==null")
    form.adminform(ng-submit="submitForm()")
      .field(ng-repeat="(field,val) in bean", ng-hide="{{field == 'id'}} || {{field == 'timestamp'}}")
        textarea(name="{{field}}", placeholder="{{field}}", id="{{field}}", ng-model="formulario[field]")
      .field.tar
        button(type="submit").btn Guardar
      .field
        input(type="text", ng-model="newField", placeholder="Nuevo campo")
        button(type="button", ng-click="addNew()").btn Añadir campo
      
