
<hr/>
<header style="background-image: url(http://lorempixel.com/800/200)" data-sr="enter top" class="bg">
  <div class="container mainTitle">
    <div class="col10">
      <h1>Aviso de privacidad</h1>
    </div>
  </div>
</header>
<hr/>
<div class="container">
  <div class="col8 push2">
    <div class="description text">
      <p>En cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, <strong class="light">Iconos Instituto de Investigación en Comunicación y Cultura. S. C.</strong>, con domicilio en Av. Chapultepec No. 57 1er. y 2do. pisos, Col. Centro, Del. Cuauhtémoc, C. P. 06040, México, D. F., es responsable de la confidencialidad, uso y protección de la información personal que nos llegara a proporcionar. Dichos datos serán utilizados para fines de identificación, verificación, contacto, información, sobre los servicios académicos que ofrecemos. Para mayor información acerca del tratamiento y de los derechos sobre su información proporcionada, usted puede solicitar el aviso de privacidad completo en nuestro correo electrónico o directamente en el Instituto.</p>
      <p class="tac"><a href="files/aviso-de-privacidad.pdf" target="_blank" class="btn">Lea el aviso de privacidad completo</a></p>
    </div>
  </div>
</div>