
<hr data-sr>
<div data-sr="enter bottom" class="intro-video"><a href="https://www.youtube.com/watch?v=bz6JP3iTPxk" class="box">
    <div data="site/img/btn-play-video.svg" class="svg"></div></a></div>
<hr data-sr>
<div data-sr="enter bottom" class="container">
  <div class="bannerslider">
    <div class="col8 push1 news first">
      <div class="slider multiple"><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a></div>
    </div>
    <div class="col1">
      <p class="rotate">Noticias</p>
    </div>
    <div class="col8 push2 news">
      <div class="slider multiple"><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a><a href="noticias.html">
          <div data="site/img/mainPolygon.svg" data-mask="site/img/mainPolygonCenter.svg" data-img="http://lorempixel.com/200/200" data-w="200" data-h="200" class="svg btn"></div></a></div>
    </div>
  </div>
</div>
<hr>
<div data-sr="enter bottom" class="container">
  <div class="col5 push1 about">
    <div data="site/img/iconos.svg" class="svg"></div>
    <p>Espacio académico dedicado a la inverstigación y la formación en el campo de la cultura y la comunicación.</p><a href="https://www.youtube.com/user/ICONOSINST?ob=0" target="_blank"><i class="fa fa-youtube"></i></a><a href="https://plus.google.com/+IconosEduMx" target="_blank"><i class="fa fa-google-plus"></i></a><a href="https://twitter.com/iconos_inst" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/iconosinstituto" target="_blank"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="col4 push1 col-t10 push-t1 col-m10 push-m1 info">
    <p class="big">Llámanos</p>
    <p class="small"> <span class="light">01 55 </span> | 5709 4370 | 57096593 | 57094396</p>
    <p class="big">Ubícanos</p>
    <p class="small">Av. <span class="light">Chapultepec 57</span>, 1er y 2do piso, Col. Centro C.P. 06040. <span class="light">México, D.F.</span></p>
    <p class="big">Nosotros te contactamos</p>
    <form action="http://dragonbarbudo.com/api/email.php">
      <input type="hidden" name="_to" value="info@iconos.edu.mx">
      <input type="hidden" name="_from" value="info@iconos.edu.mx">
      <input type="hidden" name="_subject" value="Contáctenme iconos / home">
      <input type="email" placeholder="Coloca tu email" name="email">
      <button type="submit">
        <div data="site/img/btn-send.svg" class="svg"></div>
      </button>
    </form>
  </div>
</div>